body {

    background: url(images/h2.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    
}
div.box 
{

    height: 150px;  
    width: 350px;
    background-color: rgb(244, 245, 237);  
    opacity: 0.5;
    text-align: left;  
    padding: 5px;  
    margin: 0px;
}
p 
{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
